{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">



  <title>Carreras</title>
  <link rel="stylesheet" href="{% static '/CSS/estilo.css' %}">


</head>

<body>
  <br>
  <nav class="navbar fixed-top bg-transparent">
    <div class="container-fluid">
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><--BUSCAR POR
          CATEGORÍA</button>

          <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">CATEGORÍAS</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                <a href="{% url 'index' %}" class="boton-enlace">INICIO</a>
                <li class="list-group-item"></li>
                <a href="{% url 'terror' %}"class="boton-enlace">TERROR</a>
                <li class="list-group-item"></li>
                <a href="{% url 'supervivencia' %}" class="boton-enlace">SUPERVIVENCIA</a>
                <li class="list-group-item"></li>
                <a href="{% url 'carreras' %}" class="boton-enlace">CARRERAS</a>
                <li class="list-group-item"></li>
                <a href="{% url 'accion' %}" class="boton-enlace">ACCIÓN</a>
                <li class="list-group-item"></li>
                <a href="{% url 'aventura' %}" class="boton-enlace">AVENTURA</a>
                <li class="list-group-item"></li>
                <a href="{% url 'listado_juegos' %}" class="boton-enlace">LISTA DE JUEGOS</a>
              </ul>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-6 ms-auto text-end">
            <a href="{% url 'sesion' %}" class="boton-enlace">Iniciar Sesión</a>
            <a href="{% url 'formulario'%}" class="boton-enlace">Registrarse</a>
          </div>
    </div>
  </nav>
  <br>
  <br>
  <header>
    <div class="header">
      <br>
      <br>
      <img src="{% static '/imagenes/header.png' %}" alt="Inicio">
    </div>
  </header>
  <br>
  <h1>CARRERAS</h1>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6">
        <div class="card">
          <img src="{% static '/imagenes/carreras1.png' %}" class="card-img-top" alt="Gran Turismo 7" class="img-fluid">
          <div class="card-body">
            <h2 class="card-title">Gran Turismo 7</h2>

            <p class="card-text">La saga Gran Turismo es una de las más míticas y queridas por los
              jugadores. Después de una entrega
              centrada
              principalmente en la competición online, Polyphony Digital echó la vista atrás para ofrecer
              un juego
              al
              estilo más clásico, con modo campaña donde deberemos escalar en la competición desde el
              nivel más
              bajo y con
              un vehículo de segunda mano. Por supuesto trae las opciones de tunning para poner a punto el
              motor,
              con
              cientos de piezas, misiones, licencias de conducir y todo lo que podríamos esperar de una
              auténtico
              GT al
              que suma muchas de las mejoras vistas en GT Sport, por ejemplo la personalización estética y
              la
              fotografía
              en Scapes
            </p>
            <h2>Valor del juego $ 10.000</h2>
            <a href="{% url 'compra' %}"  class="boton">Añadir a Carrito</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6">
        <div class="card">
          <img src="{% static '/imagenes/carreras2.png' %}" class="card-img-top" alt="WRC 10" class="img-fluid">
          <div class="card-body">
            <h2 class="card-title">WRC 10 FIA World Rally Championship</h2>

            <p class="card-text">KT Games continúa mejorando lentamente su famosa serie de simuladores de
              rally y WRC 10 puede
              presumir de ser
              un título realmente completo, que celebra los 50 años del campeonato. Ofrece nuevos
              contenidos y la
              posibilidad de revivir los momentos más intensos desde 1973 hasta hoy. El modo Historia de
              WRC 10
              pone a
              prueba tus habilidades como piloto a través de 19 eventos históricos que requieren una
              adaptación a
              las
              condiciones de la competición en cada periodo histórico. Equipos actualizados, 120 etapas
              especiales, 4
              nuevos rallies de 2021 -Estonia, Croacia, Bélgica y España- y 6 rallies históricos, entre
              ellos la
              Acrópolis, San Remo, Alemania y Argentina.
            </p>
            <h2>Valor del juego $ 10.000</h2>
            <a href="{% url 'compra' %}"  class="boton">Añadir a Carrito</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>

    <h5> @Copyright Lhia Cadiz /Juan Miranda </h5>

  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
</body>


</html>