{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


  <title>MI ENTRETENCIÓN</title>
  <link rel="stylesheet" href="{% static '/CSS/estilo.css' %}">


</head>

<body>
  <br>

  <nav class="navbar fixed-top bg-transparent">
    <div class="container-fluid">
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><--BUSCAR POR
          CATEGORÍA</button>

          <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">CATEGORÍAS</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                <a href="{% url 'index' %}" class="boton-enlace">INICIO</a>
                <li class="list-group-item"></li>
                <a href="{% url 'terror' %}" class="boton-enlace">TERROR</a>
                <li class="list-group-item"></li>
                <a href="{% url 'supervivencia' %}" class="boton-enlace">SUPERVIVENCIA</a>
                <li class="list-group-item"></li>
                <a href="{% url 'carreras' %}" class="boton-enlace">CARRERAS</a>
                <li class="list-group-item"></li>
                <a href="{% url 'accion' %}" class="boton-enlace">ACCIÓN</a>
                <li class="list-group-item"></li>
                <a href="{% url 'aventura' %}" class="boton-enlace">AVENTURA</a>
                <li class="list-group-item"></li>
                <a href="{% url 'editar_datos' %}" class="boton-enlace">Editar Mi Usuario</a>
              </ul>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-6 ms-auto text-end">
            <a href="{% url 'sesion' %}" class="boton-enlace">Iniciar Sesión</a>
            <a href="{% url 'formulario'%}" class="boton-enlace">Registrarse</a>
          </div>
    </div>
  </nav>



  <header>
    <div class="header">
      <br>
      <br>

      <img src="{% static '/imagenes/header.png' %}" alt="Inicio">
    </div>
  </header>
  <br>
  <br>
  <h2>Los más Vendidos</h2>
  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6">
        <a href="{% url 'terror' %}" class="text-no-decoracion">
          <div class="card bg-transparent text-white">
            <img src="{% static '/imagenes/terror1.png '%}" class="card-img-top" alt="Resident Evil"
              class="card-img.top shadow">
            <div class="card-body">
              <h5 class="card-title text-center ">Resident Evil</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-6">
        <a href="{% url 'terror' %}" class="text-no-decoracion">
          <div class="card bg-transparent text-white">
            <img src="{% static '/imagenes/terror2.png' %}" class="card-img-top" alt="Dead by Daylight"
              class="card-img.top shadow">
            <div class="card-body">
              <h5 class="card-title text-center ">Dead by Daylight</h5>
            </div>
          </div>
        </a>

      </div>
      <div class="col-12 col-sm-6 col-md-6">
        <a href="{% url 'carreras' %}" class="text-no-decoracion">
          <div class="card bg-transparent text-white">
            <img src="{% static '/imagenes/carreras1.png' %}" class="card-img-top" alt="Gran Turismo 7"
              class="card-img.top shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Gran Turismo 7</h5>
            </div>
          </div>
        </a>

      </div>

      <div class="col-12 col-sm-6 col-md-6">
        <a href="{% url 'accion' %}" class="text-no-decoracion">
          <div class="card bg-transparent text-white">
            <img src="{% static '/imagenes/accion2.png' %}" class="card-img-top" alt="Crackdown 3"
              class="card-img.top shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Crackdown 3</h5>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>

  <footer>

    <h5>&copy;Copyright Lhia Cadiz /Juan Miranda</h5>

  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
</body>



</html>